<a href="https://colab.research.google.com/github/alvas-education-foundation/Dhavala27/blob/master/Day_1_session_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Day 1  session 2 Examples programs

In [1]:
#Python Program to find the factorial of a number using loop. 
n=int(input("Enter number:"))
fact=1

while(n>0):
    fact=fact*n
    n=n-1
print("Factorial of the number is: ")
print(fact)

Enter number:56
Factorial of the number is:
710998587804863451854045647463724949736497978881168458687447040000000000000

In [3]:
#Python Program to reverse a number using loop 
r=0
n=int(input("Enter a number: "))
while(n>0):
    dig=n%10
    r=r*10+dig
    n=n//10
print("The reversed no  is:")
print(r)

Enter a number: 7679
The reversed no  is:
9767

In [6]:
#Write a Python program to construct the following pattern, using a nested for loop.
# * 
#* * 
#* * * 
#* * * * 
#* * * * * 
#* * * * 
#* * * 
#* * 
#*
n=5;
for i in range(n):
    for j in range(i):
        print ('* ', end="")
    print('')

for i in range(n,0,-1):
    for j in range(i):
        print('* ', end="")
    print('')

*
* *
* * *
* * * *
* * * * *
* * * *
* * *
* *
*

In [7]:
#Python Program to replace all occurrences of ‘a’ with ‘$’ in a string. 
string=input("Enter string:")
string=string.replace('a','$')
string=string.replace('A','$')
print("Modified string:")
print(string)

Enter string:hghj
Modified string:
hghj

In [9]:
#Python Program to remove the nth index character from a non-empty string. 
def remove(string, n):  
      first = string[:n]   
      last = string[n+1:]  
      return first + last
string=input("Enter the sring:")
n=int(input("Enter the index of the character to remove:"))
print("Modified string:")
print(remove(string, n))

Enter the sring:asdfg
Enter the index of the character to remove:d

ValueError: ignored

In [11]:
#Python Program to detect if two strings are anagrams. 
s1=input("Enter first string:")
s2=input("Enter second string:")
if(sorted(s1)==sorted(s2)):
      print("The strings are anagrams.")
else:
      print("The strings aren't anagrams.")

Enter first string:dfghjj
Enter second string:jjjjjj
The strings aren't anagrams.

In [12]:
#Python Program to  count number of vowels from a non-empty string. 
string=input("Enter string:")
vowels=0
for i in string:
      if(i=='a' or i=='e' or i=='i' or i=='o' or i=='u' or i=='A' or i=='E' or i=='I' or i=='O' or i=='U'):
            vowels=vowels+1
print("Number of vowels are:")
print(vowels)

Enter string:abcd
Number of vowels are:
1

In [13]:
#Program for Divide by zero error detection
flag = True

def div(a, b):  
       try:
            print("Finally the division of %d/%d is %f" % (a, b,a/b))
            global flag
            flag=False
       except ZeroDivisionError:
            print("Zero Division Error detected")
       else:
            print("Division is successful") 
       finally:
            if flag is True:
               print("Try again")     
            else:
               print("Thank you")
       
#global flag

while flag is True:
    div(int(input("Enter numerator")),int(input("Enter denominator")))

Enter numerator45
Enter denominator76
Finally the division of 45/76 is 0.592105
Division is successful
Thank you

In [14]:
#Program for ValueError error detection

while True:
     try:
         x = int(input("Please enter a number: "))
         print(" That was valid number. Thank you")
         break
     except ValueError:
         print("Oops!  That was no valid number.  Try again...")

Please enter a number: 77
 That was valid number. Thank you

#‘Day 1 sesson 2 Exercises’

In [16]:
#1 Write a program to print the triangle 
#i/p  4
'''
1
2    3
3    4   5
4    5   6   7
'''

n=int(input("Enter number:"));
for i in range(n+1):
    c=i
    for j in range(1,i+1):
        print(c, end=" ")
        c=c+1
    print('')

Enter number:4

1
2 3
3 4 5
4 5 6 7

In [17]:
#2 Enter number 4
'''
*
* *
* * *
* * * *
'''
rows = 4
for i in range(0, rows):
    for j in range(0, i + 1):
        print("*", end=' ')

    print("\r")

*
* *
* * *
* * * *

In [18]:
#3 Enter number 5
'''
5
4 5
3 4 5
2 3 4 5
1 2 3 4 5
'''
n=int(input("Enter number:"));
for i in range(n+1):
    c=n-i+1
    for j in range(n,n-i,-1):
        print(c, end=" ")
        c=c+1
    print('')

Enter number:5

5
4 5
3 4 5
2 3 4 5
1 2 3 4 5

In [19]:
#4  Enter number 5
'''
5 4 3 2 1
4 3 2 1
3 2 1
2 1
1
'''
rows = 5
for i in range(0, rows + 1):
    for j in range(rows - i, 0, -1):
        print(j, end=' ')
    print()

5 4 3 2 1
4 3 2 1
3 2 1
2 1
1

In [20]:
#Enter number 4
'''
1 2 3 4
2 3 4
3 4
4
3 4
2 3 4
1 2 3 4
'''

n=int(input("Enter number:"));
for i in range(n):
    for j in range(i+1,n+1,1):
        print(j, end=" ")
    print('')
for i in range(2,n+1):
    c=n-i+1
    for j in range(n,n-i,-1):
        print(c, end=" ")
        c=c+1
    print('')

Enter number:4
1 2 3 4
2 3 4
3 4
4
3 4
2 3 4
1 2 3 4

In [21]:
#6 Find the length of a string without using len functions


str = input("Enter a string: ")
counter = 0
for s in str:
      counter = counter+1
print("Length of the input string is:", counter)

Enter a string: abcd
Length of the input string is: 4

In [22]:
#7 Find the no of words and characters in a string

string=input("Enter string:")
char=0
word=1
for i in string:
      char=char+1
      if(i==' '):
            word=word+1
print("Number of words in the string:")
print(word)
print("Number of characters in the string:")
print(char)

Enter string:abcd efgh
Number of words in the string:
2
Number of characters in the string:
9

In [23]:
#8 Find the no of occurrences of a word in a string

string = "My College name is Alva's Institute of Engineering and technology"
substring = "is"

count = string.count(substring)

# print count
print("The count is:", count)

The count is: 1